*, *:before, *:after {
    box-sizing: inherit;
}

/* Creating background for webpage */
main {
    background-color: #222;
}

/* Allowing smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Creating font type and colour for website */
body {
    margin: 0px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}

/* Formatting for headings */
h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color: rgb(255, 115, 0);
    font-size: 32px;
    font-weight: bold;
}

h3 {
    padding: 3px;
}

/* Creating link/button styling and allowing a hover affect */
li {
    padding: 2px;
}

.red {
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px; 
}

a:hover {
    background-color: #fff;
    color: red;
}

/* Importing an image and creating the cover for the homepage */
.hero {
    background: url(images/hero-image.jpg) center;
    background-size: cover;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
}

/* Creating a spacer to seperate pages  */
.spacer {
    display: grid;
    margin-top: 10px;
    height: 35px;
    background: rgb(130,128,126);
    background: radial-gradient(circle, rgba(130,128,126,1) 0%, rgba(209,209,209,1) 100%);
}

/* Creating 3 grid parents which have styling using grid-template-columns to make the website responsive and using fr which is fraction unit. */

.grid-parent1 {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 2fr;
    gap: 20px;  
}

.grid-parent2 {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;  
}

.grid-parent3 {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
}

/* Calling all content with information to have a solid border and padding around text */
.details-content, .about-content, .skill-content, .education-content, .work-content, .project-content {
    padding: 20px;
    border-radius: 12px;
    border-style: solid;
}

/* Creating backgrounds for 6x content boxes which have gradients. */
.details-content {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,53,88,1) 0%, rgba(0,0,0,1) 100%);
}

.about-content {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,53,88,1) 0%, rgba(0,0,0,1) 100%);
}

.skill-content {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,53,88,1) 0%, rgba(0,0,0,1) 100%);
}
.education-content {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 148%);
}

.work-content {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,53,88,1) 0%, rgba(0,0,0,1) 100%);
}

.project-content {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(9,53,88,1) 100%);
}

/* Creating a footer using flex where items are centered and a specific size and when hovered over they turn red. */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: red;
}

.footer .social > * {
    margin-right: 30px;
}

/* Creating a media querey which allows for responsiveness making columns that are next to eachother flow ontop of one another which take up 1 fraction */
@media only screen and (max-width:1100px) {
    .grid-parent1, .grid-parent2 {
        grid-template-columns: 1fr;
    }
}


/*
_________________________________________________________________________________________________________________________
 References:
- Hyperion Dev SE L3T17 - CSS Overview
- https://www.codegrepper.com/code-examples/html/button+open+link+in+new+tab (Ivan The Terrible - 25/05/2021)
- https://cssgradient.io/
- https://www.w3schools.com/css/css_border.asp
- https://www.w3schools.com/css/css_link.asp
- https://www.w3schools.com/css/css3_buttons.asp
- https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ (Juan Martín García - 26/02/2019)
- https://www.youtube.com/watch?v=PNK6VGFquao (Coder Coder 15/04/2020)
*/